# Laravel
App/vendor/
App/node_modules/
App/public/hot
App/public/storage
App/bootstrap/cache/*
!App/bootstrap/cache/.gitignore

# Environment
App/.env
App/.env.backup
App/.env.production

# Storage
App/storage/logs/*
!App/storage/logs/.gitkeep
App/storage/framework/cache/*
App/storage/framework/sessions/*
App/storage/framework/views/*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
